.container {
	background-color:lightblue;
	width:262px;
	height:150px;
	float:left;
	margin-right:70px;
	margin-top:25px;
	color:black;
}

.name {
	font-family: calibri, verdana, "sans serif";
	font-size: 23px;
	padding-left:12px;
	padding-top:6px;
}

.title {
	font-family:calibri, verdana, "sans serif";
	font-size: 13px;
	float:right;
	padding-right:18px;
	padding-top:7px;
}

.contact_section {
	float:left;
	width:70%;
}

.contact {
	font-family:calibri, verdana, "sans serif";
	font-size: 14px;
	padding-top:7px;
	padding-bottom:7px;
}
.symbol_section {
	float:left;
	width:30%;
}

img {
	width:24px;
	height:24px;
	padding-left:45px;
	padding-top:1.5px;
	padding-bottom:1.5px;
}